{% extends 'base.html' %}
{% block styles %}
<style>
    html {
        height: 100%;

        * {
            box-sizing: border-box;
        }
    }

    body {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        height: 100%;
    }

    .main {
        white-space: pre;
        background-color: bisque;
        padding: 32px 64px;
        height: 100%;
        min-height: 100%;
        flex-grow: 1;

    }

    .sidebar {
        width: 450px;
    }

    .locations {
        max-height: 80vh;
        /* This is very wip will have better solution */
        overflow-x: scroll;

    }

    .location {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
        max-width: 450px;
        background-color: #efefef;
        border-radius: 24px;
        padding: 24px 48px;

        .form-item {
            display: flex;
            flex-direction: column;

        }
    }
</style>
{% endblock %}
{% block body %}
<div class="sidebar">
    <div class="locations"></div>
    <div class="actions">
        <button class="add">Add another location</button>
        <button class="submit">Submit</button>
    </div>
</div>
<div class="main"></div>

{% endblock %}

{% block scripts %}
<script>
    const locations = document.querySelector('.locations');
    const add = document.querySelector('.add');
    const submit = document.querySelector('.submit');
    const main = document.querySelector('.main');
    let addressTimeoutId = null;

    addLocation()  // we aren't rendering this to start, so initialize with first input.

    submit.onclick = () => {
        const results = []
        for (let location of locations.querySelectorAll('.location')) {
            results.push({
                address: location.querySelector('input[name=address]').value,
                dateArrived: location.querySelector('input[name=date-arrived]').value,
                dateLeft: location.querySelector('input[name=date-left]').value
            })
        };
        main.innerText = JSON.stringify(results, null, 4);
    }

    add.onclick = addLocation;

    function addLocation() {
        const location = document.createElement('div');
        location.classList.add('location');
        location.innerHTML = `<div class="form-item">
            <label for="address">Address</label>
            <input type="search" autocomplete="off" name="address">
            <div class="suggestions"></div>
        </div>
        <div class="form-item">
            <label for="date-arrived">Date Arrived</label>
            <input type="date" name="date-arrived">
        </div>
        <div class="form-item">
            <label for="date-left">Date Left</label>
            <input type="date" name="date-left">
        </div>`
        const address = location.querySelector('input[name=address]');
        const suggestions = location.querySelector('.suggestions')
        address.oninput = () => handleAddressInput(address, suggestions);

        locations.append(location);
    }

    function handleAddressInput(address, suggestions) {
        if (address.value.trim()) {
            clearTimeout(addressTimeoutId);
            addressTimeoutId = setTimeout(() => getAddressSuggestions(address.value, suggestions), 1000)
        }
    }

    async function getAddressSuggestions(address, suggestions) {
        const currentUrl = window.location.href;
        const targetUrl = currentUrl + '/get-address-suggestions'
        const res = await fetch(targetUrl, {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify({ address })
        })
        if (res.ok) {
            const data = await res.json()
            console.log(data)
        } else {
            try {
                const error = await res.json()
                console.log(error)
            } catch {
                console.log(res.text)

            }
        }
    }

</script>
{% endblock %}
