{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    html {
        height: 100%;

        * {
            box-sizing: border-box;
        }
    }

    body {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        height: 100%;
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    .main {
        height: calc(100vh - 16px);
        flex-grow: 1;
        position: relative;
        padding: 8px;
        background-color: #333;

        .close {
            display: none;
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 1000;
            cursor: pointer;
            background-color: white;
            border-radius: 2px;
            border: none;
            padding: 4px 8px;
            font-size: large;
            font-weight: bold;
            color: #333;

            &:hover {
                outline: 1px solid #666666;
            }
        }
    }

    #map {
        width: 100%;
        height: 100%;
    }

    .sidebar {
        width: 450px;
    }

    .locations {
        max-height: 80vh;
        /* This is very wip will have better solution */
        overflow-x: scroll;

    }

    .location {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
        max-width: 450px;
        background-color: #efefef;
        border-radius: 24px;
        padding: 24px 48px;

        .form-item {
            display: flex;
            flex-direction: column;

        }
    }

    .suggestions {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
    }

    .error {
        color: red;
    }

    .suggestion {
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: whitesmoke;
    }

    .suggestion:hover {
        background-color: color-mix(in sRGB, whitesmoke, rgba(0, 0, 0, 0.5) 50%);
    }
</style>

{% endblock %}
{% block body %}
<div class="sidebar">
    <select id="mapSource">
        <option value="osm_bright">Bright</option>
        <option value="stamen_toner">Stamen Toner</option>
        <option value="stamen_watercolor">Stamen Watercolor</option>
        <option value="stamen_terrain">Stamen Terrain</option>
        <option value="alidade_smooth_dark">Stamen Alidade Smooth Dark</option>
        <option value="outdoors">Outdoors</option>
        <!-- Add more options as needed -->
    </select>
    <div class="locations"></div>
    <div class="actions">
        <button class="add">Add another location</button>
        <button class="submit">Submit</button>
    </div>
</div>
<div class="main">
    <button class="close">&times;</button>
    <div class="map" id="map"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
