{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="static/style.css">
<style>

</style>

{% endblock %}
{% block body %}
<div class="sidebar">
    <audio id="bgMusic" loop preload="metadata" type="audio/mpeg"
        src="{{url_for('static', filename='media/music/i_got_a_stick_feat_james_gavins.mp3')}}"></audio>
    <select id="mapSource">
        <option value="osm_bright">Bright</option>
        <option value="stamen_toner">Stamen Toner</option>
        <option value="stamen_watercolor">Stamen Watercolor</option>
        <option value="stamen_terrain">Stamen Terrain</option>
        <option value="alidade_smooth_dark">Stamen Alidade Smooth Dark</option>
        <option value="outdoors">Outdoors</option>
        <!-- Add more options as needed -->
    </select>
    <div class="locations"></div>
    <div class="actions">
        <button class="add">Add another location</button>
        <button class="submit">Submit</button>
    </div>
</div>
<div class="main">
    <button class="close">&times;</button>
    <div class="map" id="map"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="static/main.js"></script>
{% endblock %}
